
<div class="topm"></div>
<div class="">
 <div class="row">
     <div class="col-md-4 col-md-push-4 col-sm-4 logout-msg">
    <h1 style="margin: 20px;">
        <small>You have been successfully logged out</small>
    </h1>
         </div>
     </div>


    <!--CargoBillingWeb-->
    <iframe hidden src="http://localhost:4129/locallogout.html"></iframe>
    <!--CargoMasterWeb--> 
    <iframe hidden src="http://localhost:4100/locallogout.html"></iframe>
    <!--CargoExportWeb--> 
    <iframe hidden src="http://localhost:4300/locallogout.html"></iframe>
    <!--CargoImportWeb--> 
    <iframe hidden src="http://localhost:72/locallogout.html"></iframe>
    <!--CargoRailOpsWeb -->
    <iframe hidden src="http://localhost:4500/locallogout.html"></iframe>
    <!--CargoBagWeb-->
    <iframe hidden src="http://localhost:4200/locallogout.html"></iframe>
    <!--CargoJettyOpsWeb--> 
    <iframe hidden src="http://localhost:4600/locallogout.html"></iframe>
    <!--CargoETSWeb-->
    <iframe hidden src="http://localhost:4700/locallogout.html"></iframe>
    <!--CargoWarehouse-->
    <iframe hidden src="http://localhost:5100/locallogout.html"></iframe>
    <!--CargoLogistics Web-->
    <iframe hidden src="http://localhost:4800/locallogout.html"></iframe>
    <!--CargoFuelWeb-->
    <iframe hidden src="http://localhost:4900/locallogout.html"></iframe>
    <!--CargoYardWeb-->
    <iframe hidden src="http://localhost:4410/locallogout.html"></iframe>

</div>