<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="UserContext"
         connectionString="Server=192.168.3.56; Database=usam; Uid=appl; Pwd=appl"
         providerName="MySql.Data.MySqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="NotificationApiURL" value="http://localhost:51719/" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="UserManagementLoginURL" value="http://localhost:62030/" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="defaultSchema" value="USAM" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="SecurityKey" value="Navayuga" />
    <add key="symmetricKeyAsBase64" value="EX9QBT7ARqFNloFaOD9Vr8PMvfpAwGBjht2+EJZTCWw=" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="AllowInsecureHttp" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="audience" value="KPCT-2,KPCT-3,KPCT-4" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="uamapiUrl" value="http://localhost:51765/" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="hostingurl" value="http://localhost:60779/" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="sessionTimeOut" value="300" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>