<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="UserContext" 
         connectionString="Server=192.168.0.80; Database=usam; Uid=appl; Pwd=navayuga" 
         providerName="MySql.Data.MySqlClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="NotificationApiURL" value="http://192.168.0.237:51720/" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="UserManagementLoginURL" value="http://192.168.0.237:51766/" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="defaultSchema" value="USAM" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="SecurityKey" value="Navayuga" />
    <add key="symmetricKeyAsBase64" value="BC7ZXJjX5W7zHIpHEOmWgEfxxQIOwdBl8LUe/nwpY4I=" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="AllowInsecureHttp" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="audience" value="KPCT-2,KPCT-3,KPCT-4" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="uamapiUrl" value="http://192.168.0.237:51766/" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="hostingurl" value="http://192.168.0.237:62041/" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="sessionTimeOut" value="480" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>