@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_eGateLayout.cshtml";
    
}
@section scripts
{
    <script src="~/Scripts/Lib/kendo.all-v2016.2.607.min.js"></script>
<script src="~/Scripts/Application/CustomisedControls.js"></script>
<script src="~/Scripts/Application/UAM/Model/RoleModel.js"></script>
<script src="~/Scripts/Application/UAM/ViewModel/RoleViewViewModel.js"></script>
<link href="~/Content/Styles/kendo.common-material.min.css" rel="stylesheet" />
<link href="~/Content/Styles/kendo.material.min.css" rel="stylesheet" />
<link href="~/Content/Styles/kendo.default.mobile.min.css" rel="stylesheet" />
}

@section ko_apply
{
    var viewModel = new eGateRoot.RoleViewViewModel("@ViewBag.roleId");  
  ko.applyBindingsWithValidation(viewModel, $("#Role")[0], { insertMessages: false, messagesOnModified: false, grouping: { deep: true }});
}

<style>
	.demo-section .k-checkbox:checked + .k-checkbox-label:before {
		background-color: #032F52 !important;
		border-color: #032F52 !important;
		color: #fff !important;
	}

	.demo-section .k-state-hover:hover {
		color: #444;
		background-color: #F1F6FA !important;
		border-color: #F1F6FA !important;
		font-weight: bold;
	}

	.demo-section .k-state-focused {
		color: #444;
		background-color: #F1F6FA !important;
		border-color: #F1F6FA !important;
		font-weight: bold;
	}

	.demo-section .k-checkbox:indeterminate + .k-checkbox-label:before {
		border-color: #ccc !important;
	}

	.demo-section .k-checkbox:indeterminate + .k-checkbox-label:before {
		border-width: 3px !important;
	}

	.demo-section .k-checkbox:indeterminate + .k-checkbox-label:after {
		background-color: #3687C8 !important;
		background-image: none;
		border-color: #3687C8 !important;
		border-radius: 0;
	}

	.demo-section .k-state-selected {
		color: #f00 !important;
		font-weight: bold;
	}

	.demo-section input.k-checkbox + label {
		margin-top: -9px;
	}

	.k-button {
		text-transform: none !important;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<h3 class="page-title"><span id="spnTitle"></span></h3>
		<ul class="page-breadcrumb breadcrumb"></ul>
	</div>
</div>

<div id="Role">
	<div data-bind="visible: viewMode() == 'Form', template: { name: 'Role-template' }"></div>
</div>
<div class="clearfix"></div>

<div class="portlet-body">
	<div class="table-toolbar">
		<script type="text/html" id="Role-template">
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="portlet portlet-body form" data-bind="loadingWhen: $root.viewModelHelper.isLoading">
						<div class="form-wizard">
							<div class="form-body form-horizontal" data-bind="with: RoleModel">
								@*<div class="row paget-row">
						<div class="col-sm-9"><span id="spnTitle"></span></div>
						<div class="col-sm-3 right-back-arrow" style=""><span><a href="#" data-bind="click: $root.ExitScreen"><i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 24px;"></i></a></span></div>
					</div>*@
								<div class="tab-pane active" id="tab1">
									<div class="form-group">
										<div class="row">
											<div class="col-md-11"></div>
											<div class="col-md-1" style="display:none;">
												<input type="button" value="Edit" class="btn blue" data-bind="click: $root.EditRole" />
											</div>
										</div>
										<fieldset>
											<legend>Role</legend>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-6">Role Code :</label>
														<div class="col-md-5 control-label">
															<label class="displaytxt col-md-12" data-bind="text: RoleCode"></label>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4">Role Name:</label>
														<div class="col-md-4 control-label">
															<label class="displaytxt col-md-12" data-bind="text: RoleName"></label>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label col-md-3">Partner Types :</label>
														<div class="col-md-8 control-label">
															<label class="displaytxt col-md-12" data-bind="text: PartnerTypeNameArray"></label>
														</div>
														@*<div class="col-md-6">
															<select id="userPort" class="form-control" data-bind="kendoMultiSelect: { dataTextField: 'PartnerTypeName', dataValueField: 'PartnerTypeId', data: $parent.PartnerTypes, value: PartnerTypeArray }"></select>
															<span class="validationError" data-bind="validationMessage: PartnerTypeArray"></span>
														</div>
														*@
													</div>
												</div>
											</div>

											<div>
												<fieldset>
													<legend>Modules & Sub Modules</legend>
													<div class="row demo-section ">
														<div class="col-md-12">
															<div class="form-group">
																<label class="control-label col-md-1"></label>
																<div class="col-md-9">
																	<div id="Role1" style="overflow: hidden">
																		<div class="demo-section " style="overflow: hidden">
																			<div>
																				<div id="treeview" style="overflow: hidden"></div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</fieldset>
											</div>
										</fieldset>
										<div class="btns-group form-actions fluid">
											<button type="submit" class="btn default button-previous" data-bind="click: $root.ExitScreen"><i class="m-icon-swapleft"></i>Back</button>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
	</div>
</div>

