<footer class="footer" id="divFooter">
    <div class="">
        <div>
            <div class="col-xs-12 col-sm-3  col-md-1 footer-inner" style="text-align:center;">
                Cargo 
                @*<div class="col-xs-6 col-sm-6 col-md-9">
                    <span>
                        <table id="tblJobInfo" style="width: 100%"></table>
                    </span>
                </div>*@
            </div>
            <div class="col-xs-12 col-sm-6 col-md-10" >
            &nbsp;
            </div>
            <div class="col-xs-12 col-sm-3 col-md-1 footer-inner" style="text-align:center;">
            &copy; @DateTime.Now.Year - Cargo
            </div>
            @*<div class="content-wrapper">
                <div class="float-left">
                    <p></p>
                </div>
            </div>*@
        </div>
    </div>
</footer>






