/***
Default theme
***/

/***
Reset and overrides  
***/
body {
  background-color: #032F52 !important;
}
/***
Page header
***/
.header {
  filter: none !important;
  background-image: none !important;
  background-color: #001526 !important;
}
.validationError {
background: #d45252;
border-radius: 3px 3px 3px 3px;
color: white;
margin: -5px 0 0 0px;
font-size: 10px;
padding: 0px 6px;
z-index: 999;
position: absolute;
white-space: nowrap;
right: 0;
}
.validationErrorL {
background: #d45252;
border-radius: 3px 3px 3px 3px;
color: white;
margin: -5px 0 0 0px;
font-size: 10px;
padding: 0px 6px;
z-index: 999;
position: absolute;
white-space: nowrap;
left: 0;
}
.header .btn-navbar {
  background-color: #212121 !important;
}
.header .navbar-nav .dropdown-toggle:hover,
.header .navbar-nav .dropdown.open .dropdown-toggle {
  background-color: #3D9CE8 !important;
}
.header .navbar-nav li.dropdown .dropdown-toggle i {
  color: #fff !important;
}
fieldset{background-color: #F1F6FA;border: 1px solid #032F52;border-radius:5px;min-width:0%;}
legend{color:#fff;background-color: #032F52;border: 1px solid #032F52;border-radius:5px;}
label{color:#3d3d3d;}
.form-control{border:1px solid #c1bdbd;}
.form-control:focus{border-color:#9a9a9a;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(133,135,137,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(133,135,137,0.6);}
.tinytable th {background-color:#032F52}
#selectedrow td {background:#a9a9a9}
.gbtn {color: #fff;border: solid 1px #000;background: #656565;}
.gbtn:hover {color: #fff;background: #3d3d3d;}
.gbtn:active {color: #000;background: #656565;}
.select2-container .select2-choice {border: 1px solid #c1bdbd;}
.advbg{background-color: #032F52;border: 1px solid #032F52;}
.portlet.box > .portlet-body {background-color: #F1F6FA;}
.hline{border-bottom-color: #c5c5c5;}

/** Kendo Grid **/
.k-grid-header,.k-pager-wrap{background-color:#032F52}
.k-grid table tbody tr:hover {clear:both;background:#c9c9c9}
.k-widget,.k-grid td{border-color:#c5c5c5}
.k-grid tr:nth-child(even){background:#F1F6FA}
/**/
/** Ports Dropdown **/
.ports-bg{background-color:#B5B5B5;margin-left: 35px}
.ports-dropdown select {background:url('/Content/Images/hlist-arrow.gif') no-repeat; background-position: 105px 4px; color: #333}
.ports-dropdown select option {background-color:#CCC}
/**/
.txt{    font-size: 13px;
    /* font-weight: bold; */
    margin: 0;
    padding: 3px 5px;
    color: #3687C8;
    background: #D2E6F7;
    display: inline-block;
    margin-left: 45%;
    border-radius: 10px;
}
.txtline{position:relative;z-index:2;}
.txtline:after{content:"";position:absolute;top:50%;left:0;right:0;border-top:solid 1px #b1b1b1;z-index:-1;}
/***
Header Search
***/

.header .search-form .form-control{
  color: #999;
  background-color: #3d3d3d;  
}

.header .search-form .submit {  
  background: url(/Content/Images/search-icon.png);
}

/***
Hor menu
***/
.header .hor-menu ul.nav li a {
  color: #999;
}

.header .hor-menu ul.nav li.open > a,
.header .hor-menu ul.nav li > a:hover,
.header .hor-menu ul.nav li > a:focus {
  color: #fff;
  background: #383838;
}

.header .hor-menu .dropdown-menu li:hover > a,
.header .hor-menu ul.nav li.active > a,
.header .hor-menu ul.nav li.active > a:hover {
  color: #fff;
  background: #e02222 !important; 
}

.header .hor-menu ul.nav li.current > a,
.header .hor-menu ul.nav li.current > a:hover {
  color: #fff;
  background: #e02222 !important; 
}

.header .hor-menu .dropdown-menu {  
    background: #383838;
}
.header .hor-menu .dropdown-menu li > a {    
    color: #999;
}

.header .hor-menu .hor-menu-search-form-toggler.off {
   background: #383838 url(/Content/Images/hor-menu-search-close.png) no-repeat center;
}

.header .hor-menu .search-form {  
  background:#383838; 
}

.header .hor-menu .search-form form input {
  color: #999;
}

.header .hor-menu .search-form .btn {
  color: #999;
  background: url(/Content/Images/search-icon.png) no-repeat center;
}

.header .hor-menu .search-form form input::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
.header .hor-menu .search-form form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
.header .hor-menu .search-form form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
.header .hor-menu .search-form form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}

/***
Page sidebar
***/
.page-sidebar {
  background-color: #032F52;
}
ul.page-sidebar-menu > li > a {
  border-top: 1px solid #5c5c5c !important;
  color: #ffffff !important;
}
ul.page-sidebar-menu > li:last-child > a {
  border-bottom: 1px solid #5c5c5c !important;
}
ul.page-sidebar-menu > li a i {
  color: #fff;
}
ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a {
  background: #09497C;
}
ul.page-sidebar-menu > li.active > a {
  background: #e02222 !important;
  border-top-color: transparent !important;
  color: #ffffff;
}
ul.page-sidebar-menu > li.active > a i {
  color: #ffffff;
}
ul.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
  border-top: 0px !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  color: #ffffff !important;
  background: #D2A403 !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  background: #09497C !important;
}
/* 3rd level sub menu */
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover,
ul.page-sidebar-menu > li > ul.sub-menu li.open > a {
  color: #ffffff !important;
  background: #09497C !important;
}
/* font color for all sub menu links*/
ul.page-sidebar-menu li > ul.sub-menu > li > a {
  color: #fff; border-bottom:1px #303030 solid;
}
/* menu arrows */
ul.page-sidebar-menu > li > a .arrow:before,
ul.page-sidebar-menu > li > a .arrow.open:before {
  color: #7d7d7d !important;
}
ul.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
  color: #707070 !important;
}
ul.page-sidebar-menu > li > a > .arrow.open:before {
  color: #8a8a8a !important;
}
ul.page-sidebar-menu > li.active > a .arrow:before,
ul.page-sidebar-menu > li.active > a .arrow.open:before {
  color: #ffffff !important;
}
/* sidebar search */
.page-sidebar .sidebar-search input {
  background-color: #242424 !important;
  color: #7d7d7d;
}
.page-sidebar .sidebar-search input::-webkit-input-placeholder {
  color: #7d7d7d !important;
}
.page-sidebar .sidebar-search input:-moz-placeholder {
  color: #7d7d7d !important;
}
.page-sidebar .sidebar-search input:-ms-input-placeholder {
  color: #7d7d7d !important;
}
.page-sidebar .sidebar-search input {
  background-color: #3d3d3d !important;
  color: #bfbfbf !important;
}
.page-sidebar .sidebar-search .input-box {
  border-bottom: 1px solid #7d7d7d !important;
}
.page-sidebar .sidebar-search .submit {
  background-image: url(/Content/Images/search-icon.png);
}
/***
Sidebar toggler
***/
.sidebar-toggler {
  background-image: url(/Content/Images/sidebar-toggler.jpg);
  background-color: #242424;
}
/* search box bg color on expanded */
.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container {
  background-color: #3d3d3d !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .remove {
  background-image: url("/Content/Images/sidebar-search-close.png");
}
/* sub menu bg color on hover menu item */
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {
  background-color: #3d3d3d;
}
/***
Footer 
***/
.footer .footer-inner {
  color: #999999;
}
.footer .footer-tools .go-top {
  background-color: #4f4f4f;
}
.footer .footer-tools .go-top:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.footer .footer-tools .go-top i {
  color: #8a8a8a;
}
/***
Footer Layouts (new in v1.3)
***/
/* begin:fixed footer */
.page-footer-fixed .footer {
  background-color: #001526;
}
.page-footer-fixed .footer .footer-inner {
  color: #fff;
}
.page-footer-fixed .footer .footer-tools .go-top {
  background-color: #4f4f4f;
}
.page-footer-fixed .footer .footer-tools .go-top i {
  color: #8a8a8a;
}
/* end:fixed footer */
/***
Gritter Notifications 
***/
.gritter-top {
  background: url(../plugins/gritter/images/gritter.png) no-repeat left -30px !important;
}
.gritter-bottom {
  background: url(../plugins/gritter/images/gritter.png) no-repeat left bottom !important;
}
.gritter-item {
  display: block;
  background: url(../plugins/gritter/images/gritter.png) no-repeat left -40px !important;
}
.gritter-close {
  background: url(../plugins/gritter/images/gritter.png) no-repeat left top !important;
}
.gritter-title {
  text-shadow: none !important;
  /* Not supported by IE :( */

}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  background-image: url(../plugins/gritter/images/gritter-light.png) !important;
}
.gritter-item-wrapper a {
  color: #18a5ed;
}
.gritter-item-wrapper a:hover {
  color: #0b6694;
}
/* begin: boxed page */
@media (min-width: 992px) {
  .page-boxed {
    background-color: #2e2e2e !important;
  }
  .page-boxed .page-container {
    background-color: #3d3d3d;
    border-left: 1px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
  }
  .page-boxed.page-sidebar-reversed .page-container {
    border-left: 0;
    border-right: 1px solid #5e5e5e;
  }
  .page-boxed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-bottom: 0;
  }
  .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .page-boxed.page-sidebar-fixed .page-sidebar {
    border-left: 1px solid #5e5e5e;
  }
  .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
    border-right: 1px solid #5e5e5e;
    border-left: 0; 
  }
  .page-boxed.page-sidebar-fixed.page-footer-fixed .footer {
    background-color: #2e2e2e !important;
  }
}
/* end: boxed page */
/***
Landscape phone to portrait tablet
***/
@media (max-width: 991px) {
  /***
    page sidebar
    ***/
  .page-sidebar {
    background-color: #292929 !important;
  }
  ul.page-sidebar-menu > li > a {
    border-top: 1px solid #4a4a4a !important;
  }
  ul.page-sidebar-menu > li:last-child > a {
    border-bottom: 0 !important;
  }
  .page-sidebar .sidebar-search input {
    background-color: #292929 !important;
  }
  ul.page-sidebar-menu > li.open > a,
  ul.page-sidebar-menu > li > a:hover,
  ul.page-sidebar-menu > li:hover > a {
    background: #1e1e1e;
  }
}

/***style bought from header file start ***/

.validationE {
        background: #d45252;
        border-radius: 3px 3px 3px 3px;
        color: white;
        margin: -5px 0 0 0px;
        font-size: 10px;
        padding: 0px 6px;
        z-index: 999;
        position: fixed;
        white-space: nowrap;
        right: auto;
    }

    .validationError {
        background: #d45252;
        border-radius: 3px 3px 3px 3px;
        color: white;
        margin: -5px 0 0 0px;
        font-size: 10px;
        padding: 0px 6px;
        z-index: 999;
        position: absolute;
        white-space: nowrap;
        left: auto;
    }
    
    *::-ms-backdrop, .ie-validation .validationError {margin:15px 0 0 0px;
    }

   ::i-block-chrome,.ie-validation .validationError {
        margin-top: -5px;
    } 
    
    .moz-margin .validationError, x:-moz-any-link, x:default {
    margin: -5px 0 0 0px !important;
    }

    .moz-margin1 .validationError, x:-moz-any-link, x:default {
        margin: 16px 0 0 0px !important;
    }

    .dropdown-menu.extended li:first-child a {
        border-bottom: 0px !important;
    }
    .validationError1 { position: relative }
    .validationError1 { position: relative; }



    .modal-dialog {
        margin: 15% 40%;
        width: 350px;
    }
    .navbar-nav > li > a {
        padding-top: 9px;
    }
    .header .navbar-nav > li.dropdown.user .dropdown-toggle {
        padding: 7px 4px 6px 9px;
    }
    .chatmsgw div {
        width: 100% !important;
        left: 0px;
        position: absolute !important;
    }
    .slimScrollBarwid {
        width: 7px !important;
    }
    #testdiv_1 {
        width: 1000px;
        height: 400px;
        background: #fff;
        border: 1px solid #aaa;
        max-height: 400px;
        top: 0px;
        right: 0px;
        position: absolute;
        overflow: hidden;
    }

    #testdiv_2 {
        width: 295px;
        height: 394px;
        right: 10px;
        top: 160px;
        border: 1px solid #aaa;

        position: absolute;
        overflow: hidden;
    }
    .fa-expand:before {
        content: "\f065";
    }
    .td-w th:nth-child(2) {
        width: 85px;
    }

      #UserRoles .table-toolbar #popUpDiv {
		position: absolute;
		background-color: white;
		width: 700px;
		min-height: 200px;
		z-index: 9002;
        top: 30px !important;
        margin-left: -3px !important;
	}

    /***style bought from header end ***/

    /***approved before approved after color codes ***/

.beforeapproval {color:#057f18;
}
.afterapproval {color:#777;
}


