
/* For Error Page display Styles*/
/* Started here....*/
.Error_Pop_Lcrv {
	background-image:url(../Images/offline/Error_Pop_Lcrv.gif);
	height:29px;
	width:9px;
	background-repeat: no-repeat;
	background-position: left top;
}
.Error_Pop_Rcrv {
	background-image:url(../Images/offline/Error_Pop_Rcrv.gif);
	height:29px;
	width:9px;
	background-repeat: no-repeat;
	background-position: left top;
	
}
.Error_Pop_BLcrv{
	background-image:url(../Images/offline/Error_Pop_BLcrv.gif);
	height:10px;
	width:9px;
	background-repeat: no-repeat;
	background-position: left top;
}
.Error_Pop_BRcrv{
	background-image:url(../Images/offline/Error_Pop_BRcrv.gif);
	height:9px;
	width:10px;
	background-repeat: no-repeat;
	background-position: left top;
	
	
}
.Error_Pop_TopBG{
	background-color:#3d3d3d;
	height:29px;
}
.Error_Pop_BLine{
	background-image:url(../Images/offline/Error_Pop_BLine.gif);
	height:10px;
	width:1px;
	background-repeat:repeat-x;
}
.Error_Pop_Lvline{
	background-image:url(../Images/offline/Error_Pop_Lvline.gif);
	width:9px;
	background-repeat:repeat-y;
	background-position: left top;
	font-family:Verdana;
}
.Error_Pop_Rvline{
	background-image:url(../Images/offline/Error_Pop_Rvline.gif);
	width:9px;
	background-repeat:repeat-y;
	background-position: left top;
}
.Error_Pop_HeadText
{
	font-family:verdana;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}

.Error_Pop_ErrorText
{
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#FF0000;
}



