@model PortKonnect.UserAccessManagement.Domain.DTOS.PrivilegeDTO
@{
    ViewBag.Title = "User";    
    Layout = "~/Views/Shared/_eGateLayout.cshtml";
    
}
@section scripts
{<script src="~/Scripts/Application/CustomisedControls.js"></script>
<script src="~/Scripts/Application/UAM/Model/UserRegistrationModel.js"></script>
<script src="~/Scripts/Application/UAM/ViewModel/UserRegistrationViewViewModel.js"></script>
}

@section ko_apply
{
  var viewModel = new eGateRoot.UserRegistrationViewViewModel("@ViewBag.userId");  
  ko.applyBindingsWithValidation(viewModel, $("#User")[0], { insertMessages: false, messagesOnModified: false, grouping: { deep: true }});
}


<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"><span id="spnTitle"></span></h3>
        <ul class="page-breadcrumb breadcrumb"></ul>
    </div>
</div>

<div id="User">
    <div data-bind="visible: viewMode() == 'Form', template: { name: 'User-template' }"></div>
</div>
<div class="clearfix"></div>

<div class="portlet-body">
    <div class="table-toolbar">

        <script type="text/html" id="User-template">

            <div class="portlet-body">
                <div class="table-toolbar">



                    <div class="portlet portlet-body form" data-bind="loadingWhen: $root.viewModelHelper.isLoading">
                        <div class="form-wizard">
                            <div class="form-body form-horizontal" data-bind="with: UserRegistrationModel">
                                <div class="tab-pane active" id="tab1">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-11"></div>
                                            <div class="col-md-1">
                                                @if (Model.HasPrivilege("eGateUserView")) //TODO: Need to implment Entity Functions as Enums
                                        {
                                                <input type="button" value="Edit" class="btn blue" data-bind="click: $root.EditUser" />
                                                }
                                            </div>
                                        </div>

                                        <fieldset>
                                            <legend>Users</legend>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Partner Type :</label>
                                                        <div class="col-md-5 control-label">
                                                            <label class="displaytxt col-md-12" data-bind="text: PartnerType"></label>


                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Partner :</label>
                                                        <div class="col-md-6 control-label">
                                                            <label class="displaytxt col-md-12" data-bind="text: PartnerId"></label>

                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group">

                                                        <label class="control-label col-md-3">User Name :</label>
                                                        <div class="col-md-5 control-label">
                                                            <label class="displaytxt col-md-12" data-bind="text: UserName"></label>

                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">First Name:</label>
                                                        <div class="col-md-4 control-label">
                                                            <label class="displaytxt col-md-12" data-bind="text: FirstName"></label>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Last Name:</label>
                                                        <div class="col-md-5 control-label">
                                                            <label class="displaytxt col-md-12" data-bind="text: LastName"></label>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">User Ports :</label>
                                                        <div class="col-md-4 control-label">
                                                            <label class="displaytxt col-md-12" data-bind="text: UserPortArray"></label>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>


                                            <div class="row">



                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Email Id :</label>
                                                        <div class="col-md-5 control-label">
                                                            <label class="displaytxt col-md-12" data-bind="text: EmailId"></label>

                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Contact Number :</label>
                                                        <div class="col-md-4 control-label">
                                                            <label class="displaytxt col-md-12" id="contactNumber" data-bind="text: ContactNumber"></label>


                                                        </div>
                                                    </div>
                                                </div>

                                            </div>





                                            <div class="row">



                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Status : </label>
                                                        <div class="col-md-5 control-label">
                                                            <label class="displaytxt col-md-12" data-bind="text: RecordStatus"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">



                                                <div class="col-md-5" data-bind="visible:$root.isDormantVisible">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Dormant Status : </label>
                                                        <div class="col-md-5 control-label">
                                                            <label class="displaytxt col-md-12" data-bind="text: DormantStatus"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-4" data-bind="with: UserPreference">
                                                        <label class="control-label col-md-6">Is Email Required :</label><input type="checkbox" name="" id="isEmail" class="form-control" data-bind="checked: SendNotificationEmail, enable: $root.ISCheckBox">
                                                    </div>
                                                    <div class="col-md-4" data-bind="with: UserPreference">
                                                        <label class="control-label col-md-6">Is SMS Required :</label><input type="checkbox" name="" id="isEmail" class="form-control" data-bind="checked: SendNotificationSms, enable: $root.ISCheckBox">
                                                    </div>
                                                    <div class="col-md-4" data-bind="with: UserPreference">
                                                        <label class="control-label col-md-8">Is System Notification Required :</label><input type="checkbox" name="" id="isEmail" class="form-control" data-bind="checked: SendSystemNotification, enable: $root.ISCheckBox">
                                                    </div>
                                                </div>
                                            </div>


                                        </fieldset>


                                        <div class="btns-group form-actions fluid">
                                            <input type="button" value="Save" class="btn green" data-bind="click: $root.SaveScreen, visible: $root.IsSave" class="btn green" />

                                            <input type="button" value="Update" class="btn green" data-bind="click: $root.UpdateScreen, visible: $root.IsUpdate" />
                                            <button type="submit" class="btn blue" data-bind="click: $root.ResetScreen, visible: $root.IsRest">Reset</button>
                                            <button type="submit" class="btn red" data-bind="click: $root.ExitScreen">Exit</button>

                                            <button type="submit" class="btn blue" data-bind="visible: $root.IsUpdate, visible: $root.IsUpdate">Activate</button>
                                            <button type="submit" class="btn red" data-bind="visible: $root.IsUpdate, visible: $root.IsUpdate">Deactivate</button>

                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>


                </div>
            </div>

        </script>
    </div>
</div>

